/*Classes that start with "jp-edit" apply only to the Japanese version of the html.*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Roboto", sans-serif;;
  font-size: 10px; 
    /*set the root element's font size to this so rem won't be confusing*/
  scroll-behavior: smooth; /*essential for the jump-to-section functionality*/
  scroll-padding-top: 0;
    /*same as nav bar size... this prevents the nav bar from covering the section*/
}

body{
  background-color: var(--color3);
}

/*Width and spacing*/
  .full-width{
    width: 100%;
  }

  .space-container{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .content-width{
    padding: 10rem;
  }

  .space-below{
    padding-bottom: 1.5rem;
  }

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
}

/*color*/
:root{
  --color1: rgb(225, 47, 47);
  --color2: rgb(224, 199, 159);
  --color3: rgb(41, 40, 40);
  --color4: rgb(250, 244, 244);
  --color5: rgb(74, 73, 73);
  --color6: rgb(255, 128, 128);
}

/*Text & link*/
h1{
    letter-spacing: 2rem;
    font-size: 8rem;
    text-align: center;
    color: var(--color5);
 }

h2{
  text-align: center;
  font-size: 5.5rem;
  font-weight: bold;
  color: var(--color4);;
}

h3{
  font-size: 5.5rem;
  color: var(--color4);
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: var(--color1);
}

h4{
  font-size: 3rem;
  color: var(--color4);
  text-decoration: underline;
  text-decoration-color: var(--color1);
}

li, p{
color: var(--color4);
font-size: 2rem;
}

p{
  line-height: 3rem;
}

/*images*/
.img-frame{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;/*250px*/
  height: 25rem;/*200px*/
}

.img-size{
  max-width: 100%;
  max-height: 100%;
}

/*Welcome*/
#welcome{
  display: flex;
  flex-direction: column;
  height: 60rem;
}

.anm-text-1{
  color: var(--color4);
  animation: drop1 1.2s ease-in;
}

.anm-text-2{
  color: var(--color4);
  animation: drop2 2.2s ease-in;
}

span{
  font-style: italic;
}

.anm-text-3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color1);
  animation: appear 4s ease-in;
}

@keyframes drop1{
  0%{
    opacity: 0;
    transform: translateY(-250px);
  }

  50%{
    opacity: 0;
    transform: translatey(-60px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes drop2{
  0%{
    opacity: 0;
    transform: translateY(-250px);
  }

  50%{
    opacity: 0;
    transform: translatey(-60px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide{
  0%{
    opacity: 0;
    transform: translateX(-250px);
  }

  50%{
    opacity: 0;
    transform: translateX(-60px);
  }

  100%{
    transform: translateX(0px);
  }
}

@keyframes appear{
  0%{
    opacity: 0;
  }

  40%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

/*nav bar*/
nav{
  background: linear-gradient(to right bottom, rgb(168, 25, 25), rgb(235, 66, 66));
  position: fixed;
  top: 0; /*nav bar fill be locked at the top*/
  width: 100%; /*nav bar will strech to the full length*/
}

nav ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav a{
  display: inline-block;/*spacing arounf <a> will change colors on hover*/
  line-height: 4.5rem;/*expands the top and bottom cpace of <a>*/
  padding: 0 2rem;
  transition: background-color 0.1s ease-in; 
}

nav a:hover{ /*make this so line fades in from the left*/
  background-color: var(--color3);
}

a{
  text-decoration: none;
  color: var(--color4);
}

/*about me*/
#about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#border{
  border: solid 2px var(--color1);/*this part is px*/
  border-radius: 10px;/*this part is px*/
  padding: 3rem;
}

#row-1{
  display: flex;
  justify-content: center;
}

#about-me img{
  border-radius: 50%;
}

#inner-row-1{
  display: flex;
  flex-direction: column;
}

#about-me p{
  width: 80rem;
}

#about-me li{
  line-height: 3rem;
}

#row-2{
  display: flex;
  justify-content: center;
}

.btn{
  font-size: 2rem;
  color: var(--color4);
  background-color: var(--color1);
  border-radius: 30px;/*this part is px*/
  margin: 2.5rem;
  height: 5.5rem;
  width: 18rem;
  transition: background-color 0.1s ease-in;
  transition: border 0.1s ease-in;
}

.btn:hover{
  font-weight: bold;
  background-color: var(--color3);
  border: solid 2px var(--color1);/*this part is px*/
}

/*experience*/
#experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box{
  margin: 2rem;
  height: 50rem;
  width: 60rem;
  background-color: var(--color5);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border: solid 3px var(--color1);/*this part is px*/
  border-radius: 10px;/*this part is px*/
}

.box ul{
  width: 45rem;
}

.jp-edit-exprnc{/*!! specific to JP page*/
  font-size: 2.5rem;
  width: 49rem;
}

/*tablet*/
@media (max-width: 700px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    font-family: "Roboto", sans-serif;;
    font-size: 6px;/*done*/ 
      /*set the root element's font size to this so rem won't be confusing*/
    scroll-behavior: smooth; /*essential for the jump-to-section functionality*/
    scroll-padding-top: 0;
      /*same as nav bar size... this prevents the nav bar from covering the section*/
  }
  
  body{
    background-color: var(--color3);
  }
  
  /*Width and spacing*/
    .full-width{
      width: 100%;
    }
  
    .space-container{
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  
    .content-width{
      padding: 10rem;
    }
  
    .space-below{
      padding-bottom: 1.5rem;
    }
  
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;/*done*/
  }
  
  /*color*/
  :root{
    --color1: rgb(225, 47, 47);
    --color2: rgb(224, 199, 159);
    --color3: rgb(41, 40, 40);
    --color4: rgb(250, 244, 244);
    --color5: rgb(74, 73, 73);
    --color6: rgb(255, 128, 128);
  }
  
  /*Text & link*/
  h1{
      letter-spacing: 2rem;
      font-size: 11rem;/*done*/
      text-align: center;
      color: var(--color5);
   }

   .jp-tablet-h1{/*new - specific to JP tablet*/
    font-size: 9rem;
   }
  
  h2{
    text-align: center;
    font-size: 7rem;/*done*/
    font-weight: bold;
    color: var(--color4);;
  }
  
  h3{
    font-size: 5.5rem;
    color: var(--color4);
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: var(--color1);
  }
  
  h4{
    font-size: 3rem;
    color: var(--color4);
    text-decoration: underline;
    text-decoration-color: var(--color1);
  }
  
  li, p{
  color: var(--color4);
  font-size: 3rem;/*done*/
  }

  .eng-tablet-li{/*only for eng tablet*/
    font: 2rem;/*done*/
  }
  
  p{
    font-size: 3rem;/*new*/
    line-height: 5rem;/*done*/
  }
  
  /*images*/
  .img-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;/*250px*/
    height: 25rem;/*200px*/
  }
  
  .img-size{
    max-width: 100%;
    max-height: 100%;
  }
  
  /*Welcome*/
  #welcome{
    display: flex;
    flex-direction: column;
    height: 60rem;
  }
  
  .anm-text-1{
    color: var(--color4);
    animation: drop1 1.2s ease-in;
  }
  
  .anm-text-2{
    color: var(--color4);
    animation: drop2 2.2s ease-in;
  }
  
  .anm-text-3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color1);
    animation: appear 4s ease-in;
  }
  
  @keyframes drop1{
    0%{
      opacity: 0;
      transform: translateY(-250px);
    }
  
    50%{
      opacity: 0;
      transform: translatey(-60px);
    }
  
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes drop2{
    0%{
      opacity: 0;
      transform: translateY(-250px);
    }
  
    50%{
      opacity: 0;
      transform: translatey(-60px);
    }
  
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes slide{
    0%{
      opacity: 0;
      transform: translateX(-250px);
    }
  
    50%{
      opacity: 0;
      transform: translateX(-60px);
    }
  
    100%{
      transform: translateX(0px);
    }
  }
  
  @keyframes appear{
    0%{
      opacity: 0;
    }
  
    40%{
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
  }
  
  /*nav bar*/
  nav{
    background: linear-gradient(to right bottom, rgb(168, 25, 25), rgb(235, 66, 66));
    position: fixed;
    top: 0; /*nav bar fill be locked at the top*/
    width: 100%; /*nav bar will strech to the full length*/
  }
  
  nav ul{
    display: flex;
    justify-content: center;/*done*/
    list-style: none;
  }
  
  nav a{
    display: inline-block;/*spacing arounf <a> will change colors on hover*/
    line-height: 9rem;/*done*/
    padding: 0 2rem;
    transition: background-color 0.1s ease-in; 
  }
  
  nav a:hover{ /*make this so line fades in from the left*/
    background-color: var(--color3);
  }
  
  a{
    text-decoration: none;
    color: var(--color4);
  }
  
  /*about me*/
  #about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #border{
    border: solid 2px var(--color1);/*this part is px*/
    border-radius: 10px;/*this part is px*/
    padding: 3rem;
  }
  
  #row-1{
    display: flex;
    flex-direction: column;/*new*/
    justify-content: center;
    align-items: center;/*new*/
  }
  
  #about-me img{
    border-radius: 50%;
  }
  
  #inner-row-1{
    display: flex;
    flex-direction: column;
    align-items: center;/*new*/
  }
  
  #about-me p{
    width: 65rem;/*done*/
  }
  
  #about-me li{
    line-height: 4.5rem;/*done*/
  }

  #inner-row-1 ul{/*new*/
    padding-left: 2rem;
  }
  
  #row-2{
    display: flex;
    justify-content: center;
  }
  
  .btn{
    font-size: 3rem;/*done*/
    color: var(--color4);
    background-color: var(--color1);
    border-radius: 30px;/*this part is px*/
    margin: 2.5rem;
    height: 5.5rem;
    width: 18rem;
    transition: background-color 0.1s ease-in;
    transition: border 0.1s ease-in;
  }

    .btn-eng{
    height: 12rem;
    width: 30rem;
    transition: background-color 0.1s ease-in;
    transition: border 0.1s ease-in;
  }
  
  .btn:hover{
    font-weight: bold;
    background-color: var(--color3);
    border: solid 2px var(--color1);/*this part is px*/
  }
  
  /*experience*/
  #experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .container{
    display: flex;
    flex-direction: column;/*done*/
    justify-content: space-between;
    align-items: center;
  }
  
  .box{
    margin: 2rem;
    height: 70rem;/*done*/
    width: 63rem;/*done*/
    background-color: var(--color5);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: solid 3px var(--color1);/*this part is px*/
    border-radius: 10px;/*this part is px*/
  }
  
  .box ul{
    width: 45rem;
  }

  .jp-edit-exprnc{/*!! specific to JP page*/
    font-size: 3rem;
    width: 57rem;
  }
}
